<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="logo">
        <span class="uno">J</span>
        <span class="dos"></span>
        <span class="tres"></span>
        <span class="cuatro"></span>
    </div>

    <nav>
        <ul class="list">
            <li> <a href="#inicio">Inicio</a> </li>
            <li> <a href="#portafolio">Portafolio</a> </li>
            <li> <a href="#formacion">Formación</a> </li>
            <li> <a href="#conocimientos">Conocimientos</a> </li>
        </ul>
        <i class="fas fa-bars fa-2x"></i>
    </nav>

    <main>
        <section class="inicio" id="inicio">
            <header class="maquina">
                <h1>Hola, mi nombre es Javier Sánchez.</h1>
                <p>Yo soy desarrollador Frontend, en este portafolio encontrarás</p>
                <p>los trabajos que he realizado con diferentes tecnologías.</p>
                <a href="img/Javier_Sanchez_Malagon.pdf" target="_blank"><button>Curriculum Vitae</button></a>
            </header>
            <a href="mailto:javier200796.20@gmail.com"><p class="email">javier200796.20@gmail.com</p></a>

            <div>
                <a href="https://www.facebook.com" target="_blank"> <i class="fa-brands fa-facebook-f fa-2x"></i> </a>
                <a href="https://gitlab.com/javiersanchezm" target="_blank"> <i class="fa-brands fa-gitlab fa-2x"></i> </a>
                <a href="https://www.linkedin.com/in/javier-sanchez-malagon-aa1b5411a/" target="_blank"> <i class="fa-brands fa-linkedin-in fa-2x"></i> </a>
                <a href="https://www.instagram.com/?hl=es-la" target="_blank"> <i class="fa-brands fa-instagram fa-2x"></i> </a>
            </div>
        </section>

        <section class="portafolio" id="portafolio">
            <h2>Proyectos</h2>
            <button id="html5">HTML5</button>
            <button id="css3">CSS3</button>
            <button id="sass">SASS</button>
            <button id="javascript">Javascript</button>
            <button id="typescript">TypeScript</button>
            <button id="webpack">Webpack</button>
            <button id="vite">Vite</button>
            <button id="angular">Angular</button>
            <button id="lit">Lit</button>

            <div id="article" >
                <article>
                    <p><i></i>Interés compuesto</p>
                    <div>
                        <p>HTML5, SASS, TypeScript, Angular</p>
                        <a href="https://interes-compuesto-jrsm.netlify.app/" target="_blank"><button>Ver proyecto</button></a>
                        <a href="https://gitlab.com/javiersanchezm/angular-interes-compuesto" target="_blank"><button>Ver repositorio</button></a>
                    </div>
                    <img src="img/proyecto-interes-compuesto.png" alt="proyecto 1">
                </article>

                <article>
                    <p><i></i>Administrador de tarjetas</p>
                    <div>
                        <p>HTML5, CSS3, JavaScript, Lit, Vite</p>
                        <a href="https://bank-jrsm.netlify.app/" target="_blank"><button>Ver proyecto</button></a>
                        <a href="https://gitlab.com/javiersanchezm/lit-bank" target="_blank"><button>Ver repositorio</button></a>
                    </div>
                    <img src="img/bank-admor-tarjs.png" alt="proyecto gifs">
                </article>

                <article>
                    <p><i></i>Consumo OMBd API</p>
                    <div>
                        <p>HTML5, SASS, Javascript, Webpack</p>
                        <a href="https://busqueda-peliculas-ombapi-jrsm.netlify.app/" target="_blank"><button>Ver proyecto</button></a>
                        <a href="https://gitlab.com/javiersanchezm/js-consumoapi-peliculas-dev" target="_blank"><button>Ver repositorio</button></a>
                    </div>
                    <img src="img/ConsumoAPI.png" alt="proyecto3">
                </article>

                <article>
                    <p><i></i>Juego Blackjack 21</p>
                    <div>
                        <p>HTML5, CSS3, Javascript, Vite</p>
                        <a href="https://blackjack-21-jrsm.netlify.app/" target="_blank"><button>Ver proyecto</button></a>
                        <a href="https://gitlab.com/javiersanchezm/js-blackjack-prod" target="_blank"><button>Ver repositorio</button></a>
                    </div>
                    <img src="img/blackjack.png" alt="proyecto2">
                </article>

                <article>
                    <p><i></i>Buscar Gifs</p>
                    <div>
                        <p>HTML5, SASS, TypeScript, Angular</p>
                        <a href="https://giphy-gifs-jrsm.netlify.app/" target="_blank"><button>Ver proyecto</button></a>
                        <a href="https://gitlab.com/javiersanchezm/angular-gfsapp-propio" target="_blank"><button>Ver repositorio</button></a>
                    </div>
                    <img src="img/GiphyAPI.png" alt="proyecto gifs">
                </article>

                <article>
                    <p><i></i>Dashboard</p>
                    <div>
                        <p>HTML5, SASS, TypeScript, Angular</p>
                        <a href="https://dashboard-jrsm.netlify.app/" target="_blank"><button>Ver proyecto</button></a>
                        <a href="https://gitlab.com/javiersanchezm/angular-dashboard" target="_blank"><button>Ver repositorio</button></a>
                    </div>
                    <img src="img/dashboard.png" alt="proyecto5">
                </article>

                <article>
                    <p><i></i>Maquetación  EDsoft</p>
                    <div>
                        <p>HTML5, CSS3, Javascript</p>
                        <a href="https://copia-edsoft.netlify.app/" target="_blank"><button>Ver proyecto</button></a>
                        <a href="https://github.com/JavierSanchezMalagon/copia_EDSfoft" target="_blank"><button>Ver repositorio</button></a>
                    </div>
                    <img src="img/proyecto__1.png" alt="proyecto1">
                </article>

                <article>
                    <p><i></i>Registro de cuenta</p>
                    <div>
                        <p>HTML5, CSS3, Javascript</p>
                        <a href="https://formulario-validacion-jrsm.netlify.app/" target="_blank"><button>Ver proyecto</button></a>
                        <a href="https://gitlab.com/javiersanchezm/formulariovalidacion-dev" target="_blank"><button>Ver repositorio</button></a>
                    </div>
                    <img src="img/ValidacionFormulario.png" alt="proyecto4">
                </article>


                
        </section>

        <section class="formacion" id="formacion">
            <h1>Formación académica</h1>
            <div>
                <p>Egresado de la carrera de Ingeniería en Computación en el Instituto Politécnico Nacional, los conocimientos que adquirí durante mi formación fueron: <br>
                Programación estructurada <br> Programación Orientada a Objetos <br> Estructura de datos <br> Diseño e implementación de base de datos <br> Microcontroladores <br> Sistemas embebidos <br> Eléctronica <br><br>
                De forma autodidacta he adquirido conocimientos de Desarrollo Frontend mediante distintas plataformas de enseñanza.</p>
            </div>

            <img class="ipn" src="img/logo_ipn.png" alt="">
            <img class="esime" src="img/esime_logo.png" alt="">
        </section>

        <section class="certificaciones" id="certificaciones">
            <h1>Certificaciones</h1>
            <div>
                <img src="img/SFC.png" alt="Certificacion de SFC">
                <img src="img/SDC.png" alt="Certificacion de SFC">
                <img src="img/CertificacionFreeCodeCamp.png" alt="Certificacion de SFC">
            </div>
        </section>

        <section class="conocimientos" id="conocimientos">
            <h1>Conocimientos</h1>
            <div>
                <i class="fa-brands fa-html5 fa-5x"><p>HTML5</p></i>
                <i class="fa-brands fa-css3-alt fa-5x"><p>CSS3</p></i>
                <i class="fa-brands fa-sass fa-5x"><p>SASS</p></i>
                <i class="fa-brands fa-bootstrap fa-5x"><p>Bootstrap</p></i>

                <i class="fa-brands fa-npm fa-5x"><p>npm</p></i>
                <i class="fa-brands fa-js fa-5x"><p>Javascript</p></i>
                <i class="fa-solid fa-database fa-5x"><p>B.D</p></i>
                <i class="fa-brands fa-git-alt fa-5x"><p>Git</p></i>
                <i class="fa-brands fa-gitlab fa-5x"><p>Gitlab</p></i>
                <i class="fa-brands fa-github fa-5x"><p>Github</p></i>
                <i class="fa-brands fa-angular fa-5x"><p>Angular</p></i>
                <i class="fa-solid fa-terminal fa-5x"><p>Terminal</p></i>
            </div>
        </section>

        <footer>
            Javier Sánchez - 2024
        </footer>
    </main>

</body>
</html>