@mixin customize-tecnologhy($color){
    width: 130px;
    height: 130px;
    background-color: $background-color-white;
    color: $color;
    border-radius: $border-radius-techonology;
    box-shadow: $box-shadow-technology;
    margin: 20px;
    padding-top: 10px;
    p{
        padding: 10px 0px;
        font-size: 12px;
        color: $color;
    }
}


@mixin customize-botton($padding, $width, $margin){
    margin: $margin;
    padding: $padding;
    width: $width;
    border: 1px solid $font-color-secondary;
    border-radius: $border-radius;
    background-color: transparent;
    color: $font-color-secondary;
    cursor: pointer;
    box-shadow: $box-shadow-button;

    &:hover{
        @include transition(1s ease);
        background-color: rgba($font-color-secondary, 0.2);
    }
}


@mixin customize-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin customize-redes($background){
    background-color: $background;
    width: 60px;
    height: 60px;
    padding: 15px;
    @include transition(0.5s);

    &:hover{
        width: 100px;
        text-align: right;
    }
}


@mixin customize-color( $background){
    width: 10px;
    height: 10px;
    background-color: $background;
    border-radius: 50%;
    display: block;
}

@mixin box-sizing( $sizing ){
    box-sizing: $sizing;
    -moz-box-sizing: sizing;
    -webkit-box-sizing: sizing;
}

@mixin transition( $transition ){
    transition: $transition;
    -o-transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
}


@mixin animation( $animation ){
    -o-animation: $animation;
    -moz-animation: $animation;
    -webkit-animation: $animation;
    -ms-zoom-animation: $animation;
}

@mixin transform( $transform ){
    -o-transform: $transform ;
    -ms-transform: $transform ;
    -moz-transform: $transform ;
    -webkit-transform: $transform ;
}