/*Colors*/
$color-primary: rgb(55, 231, 222);  //rgb(0, 191, 224); //rgb(0, 247, 255);
$color-secondary: #a8b2d1; 
$color-tertiary: rgba(17,34,64,1);
$color-white: #fff;
$color-black: #000;
$color-gray: rgb(46, 46, 46);

$color-circle-article-primary: #ffbd2e;
$color-circle-article-secondary: #ff5f57;
$color-circle-article-tertiary: #28ca41;

/*Background*/
//$background-color-primary: $color-black;
$background-color-primary: rgba(10,25,47,1);
$background-color-secondary: $color-primary;
$background-color-tertiary: $color-gray;
//$background-color-gradient: linear-gradient(0deg, $color-black 3%, $color-tertiary 66%);
$background-color-gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(10,25,47,1) 100%);
$background-color-white: $color-white;

$background-projects: $color-gray;
$background-projects-header: rgb(100, 100, 100);

$backgrond-color-hover: rgba($color-black, 0.8);
$background-footer: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(10,25,47,1) 100%);

/*Font */
$font-color-title: $color-white;
$font-color-secondary: $color-primary;
$font-color-tertiary: $color-secondary;
$font-color-black: $color-black;

$font-size-title: 40px;
$font-weight-title: 200;


/*Bottons*/
$padding-botton-principal: 15px 30px;
$width-botton-principal: 250px;
$margin-botton-principal: 20px;

$padding-botton-secondary: 10px;
$width-botton-secondary: 100px;
$margin-botton-secondary: 10px;

$margin-botton-tertiary: 10px 0px;

/*Color technology*/
$color-html: #e34c26;
$color-css: #264de4;
$color-sass: rgb(252, 101, 126);
$color-bootstrap: #563d7c;
$color-npm: #CC3534;
$color-javascript: #eed117;
$color-git: #4e545a;
$color-db: black;
$color-gitlab: #e2432a;
$color-angular: #a6120d;

$background-color-facebook: #3B5998;
$background-color-linkdin: #0077ba;
$background-color-instagram: radial-gradient(circle at 25% 110%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%),radial-gradient(circle at 25% 110%,#b9a800 0,#938500 5%,#b10f00 45%,#8c0061 60%,#002ca9 90%);


/*Box y text shadow*/
//$box-shadow-projects: 8px 8px 0 $color-gray;
$box-shadow-projects: 8px 10px 0px $color-black;
$box-shadow-technology: 0 0 10px $font-color-secondary;
$box-shadow-button: 5px 5px 0 $color-black;

$text-shadow-title: 1px 1px 1px $color-primary;
$text-shadow-subtitle: 2px 2px 2px $color-primary;

/*Width and height*/
$width-projects: 300px;
$width-content: 100%;
$height-content: 650px;

$height-article: 95%;

/*Padding and border*/
$padding-content: 80px 100px;

$border-radius: 4px;
$border-radius-techonology: $border-radius;
$border-navbar: 2px solid $color-javascript;

$border-maquina-primary: 5px solid $color-primary;
$border-maquina-secondary: 5px solid $color-black;

$border-logo: 2px solid $color-white;

/*RWD*/
$width-redes-responsive: 60px;

$font-size-responsive-title: 28px;
$font-size-responsive: 16px;

$padding-content-responsive: 50px 25px;
$padding-content-rwd: 50px;