@import 'mixin';
@import 'variables';
@import 'reset';

html{
    background-color: $background-color-primary;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


nav{
     ul{
        list-style: none;
        position: fixed;
        top: -30px;
        width: 100vw;
        height: 110vh;
        background: rgba(0,0,0,0.3);
        backdrop-filter: blur(5px);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        @include transform(translateX(-110%));
        @include transition(all ease-in-out 0.1s);
        z-index: 20;

        li{
            a{
                text-decoration: none;
                font-size: $font-size-title;
                color: $font-color-title;
                @include transition(all ease-in-out 0.2s);

                &:hover{
                    letter-spacing: 12px;
                    border-bottom: $border-navbar;
                    border-top: $border-navbar;
                }
            }
        }
    }

    .fas{
        color: $font-color-tertiary;
        position: fixed;
        right: 10px;

        &:hover{
            @include transition(all ease-in-out 1s);
            color: $font-color-secondary;
        }
    }

    .fa-bars{
        z-index: 10;
        margin: 30px;
        display: block; 
        cursor: pointer;
    }
}

.mostrar{
    @include transform(translateX(0));
}


main{
    width: 100vw;
    height: 100vh;

    .inicio{
        text-align: center;
        padding: $padding-content;
        width: $width-content;
        height: $height-content;
        @include customize-flex();
        background: $background-color-gradient;

        header{

            h1{
                color: $font-color-title;
                font-weight: $font-weight-title;
                padding: 20px;
                font-size: 40px; /**/
            }

            p{
                color: $font-color-tertiary;
                padding: 10px;
            }

            button{
                @include customize-botton($padding-botton-principal, $width-botton-principal, $margin-botton-principal);
            }
        }

        .email{
            position: fixed;
            top: 45%;
            right: -70px;
            height: 35px;
            width: 250px;
            color: $font-color-tertiary;
            cursor: pointer;
            @include transform(rotate(90deg));

            &:hover{
                color: $font-color-secondary;
                @include transition(ease-in-out 1s);
            }
        }

        div{
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 30%;
            left: 0px;
            cursor: pointer;

            a{
                color: $font-color-title;
                width: 60px;
                height: 60px;

                .fa-facebook-f{
                    @include customize-redes($background-color-facebook);
                }

                .fa-github,
                .fa-gitlab{
                    @include customize-redes($color-gitlab);
                }

                .fa-linkedin-in{
                    @include customize-redes($background-color-linkdin);
                }
    
                .fa-instagram{
                    background: $background-color-instagram;
                    @include customize-redes($background-color-instagram);
                }
            }  
        }
    }

    .portafolio{
        background-color: $background-color-primary;
        width: $width-content;
        min-height: $height-content;
        text-align: center;
        padding: $padding-content;

        h2{
            color: $font-color-title;
            font-size: $font-size-title;
            font-weight: $font-weight-title;
            padding: 20px;
            text-shadow: $text-shadow-subtitle;
        }

        button{
            @include customize-botton($padding-botton-secondary, 150px, $margin-botton-secondary);
        }

        div{
            @include customize-flex;
            flex-wrap: wrap;
            margin-top: 30px;


            article{
                width: $width-projects;
                height: 400px;
                margin: 20px;
                box-shadow: $box-shadow-projects;
                position: relative;
    
                p{
                    width: $width-projects;
                    height: 20px;
                    background: $background-projects-header;
                    color: $font-color-title;
                    text-align: center;
                    position: relative;
    
                    i{
                        @include customize-color($color-circle-article-primary);
                        position: absolute;
                        top: 5px;
                        left: 20px;
    
                        &::before{
                            content: '';
                            margin-left: -15px;
                            @include customize-color($color-circle-article-secondary);
                        }
    
                        &::after{
                            content: '';
                            margin: -10px 15px;
                            @include customize-color($color-circle-article-tertiary);
                        }
                    }
                }

                img{
                    width: $width-content;
                    height: $height-article;
                }

                div{
                    position: absolute;
                    top: -10px;
                    width: $width-content;
                    height: $height-article;
                    opacity: 0;
                    @include transition(all 0.5s ease-out);
                    display: block;
                    padding: 60px 0px;

                    p{
                        color: $font-color-secondary;
                        background-color: transparent;
                        padding: 40px 0px;
                    }

                    button{
                        @include customize-botton($padding-botton-principal, $width-botton-principal, $margin-botton-tertiary);
                    }
                }

                div:hover{
                    opacity: 1;
                    backdrop-filter: blur(2px);
                    background-color: $backgrond-color-hover;
                }
            }

            .hidden{
                display: none;
            }
        }

        .active{
            background-color: red;
        }
    }

    .formacion{
        color: $font-color-title;
        padding: $padding-content;
        text-align: center;
        h1{
            color: $font-color-title;
            font-size: $font-size-title;
            font-weight: $font-weight-title;
            padding: 50px;
            text-shadow: $text-shadow-subtitle;
        }

        div{
            @include customize-flex;
            p{
                color: $color-secondary;
                width: 600px;
                line-height: 30px;
            }
        }

        .ipn{
            margin: 20px 10px;
            width: 240px;
            height: 250px;
            padding: 0px 5px;
        }

        .esime{
            margin: 20px 10px;
            width: 240px;
            height: 250px;
            padding: 25px 20px;
        }
    }


    .certificaciones{
        color: $font-color-title;
        padding: $padding-content;
        text-align: center;
        h1{
            color: $font-color-title;
            font-size: $font-size-title;
            font-weight: $font-weight-title;
            padding: 50px;
            text-shadow: $text-shadow-subtitle;
        }

        div{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            width: 100%;

            img{
                width: 500px;
                box-shadow: $box-shadow-projects;
                margin: 30px;
            }
        }
    }

    .conocimientos{
        padding: $padding-content;
        text-align: center;

        h1{
            color: $font-color-title;
            font-size: $font-size-title;
            font-weight: $font-weight-title;
            padding: 50px 0px;
            text-shadow: $text-shadow-subtitle;
        }

        .fa{
            &-html5{
                @include customize-tecnologhy($color-html);
            }

            &-css3-alt{
                @include customize-tecnologhy($color-css);
            }

            &-sass{
                @include customize-tecnologhy($color-sass);
            }

            &-bootstrap{
                @include customize-tecnologhy($color-bootstrap);
            }

            &-npm{
                @include customize-tecnologhy($color-npm);
            }

            &-js{
                @include customize-tecnologhy($color-javascript);
            }

            &-database{
                @include customize-tecnologhy($color-db);
            }

            &-git-alt{
                @include customize-tecnologhy($color-git);
            }

            &-gitlab{
                @include customize-tecnologhy($color-gitlab);
            }

            &-github{
                @include customize-tecnologhy($color-git);
            }

            &-angular{
                @include customize-tecnologhy($color-angular);
            }

            &-terminal{
                @include customize-tecnologhy($color-black);
            }
        }
    }
}

footer{
    width: $width-content;
    height: 70px;
    color: $font-color-title;
    background: $background-footer;
    text-align: center;
    @include customize-flex;
}


@media (min-width: 801px){
    .maquina{
        width: 600px;
        height: 300px;
        @include customize-flex;
        flex-direction: column;
    }

    .maquina h1{
        white-space: nowrap;
        overflow: hidden;
    }

    .maquina p{
        white-space: nowrap;
        overflow: hidden;
    }

    .maquina h1:nth-child(1) {
        width: 600px;
        font-size: 32px;
        @include animation(type 3s steps(34) forwards);
    }

    @keyframes type {
        0% {
            width: 0;
        }
        1% {
            border-right: $border-maquina-primary;
        }
        99% {
            border-right: $border-maquina-secondary;
        }
        100% {
            border: none;
        }
    }

    .maquina p:nth-child(2) {
        width: 570px;
        opacity: 0;
        @include animation(type2 3s steps(61) 3s forwards);
    }

    .maquina p:nth-child(3) {
        width: 530px;
        opacity: 0;
        @include animation(type2 3s steps(80) 6s forwards);
    }

    @keyframes type2 {
        0% {
            width: 0;
        }
        1% {
            opacity: 1;
            border-right: $border-maquina-primary;
        }
        99% {
            border-right: $border-maquina-secondary;
        }
        100% {
            opacity: 1;
            border: none;
        }
    }
}

@media (min-width: 320px) and (max-width: 800px){
    nav{
        ul{
            z-index: 20;
        }
    }

    main{
        .inicio{
            padding: $padding-content-responsive;
            flex-direction: column;

            header{
                h1{
                    font-size: $font-size-responsive-title;
                }
                p{
                    font-size: $font-size-responsive;
                }

                button{
                    @include customize-botton(15px, 300px, $margin-botton-secondary);
                }
            }

            a{
                text-decoration: none;
                .email{
                    font-size: $font-size-responsive;
                    position: absolute;
                    top: 580px;
                    right: 10px;
                    text-align: center;
                    @include transform(rotate(0deg));
                }
            }

            div{
                flex-direction: row;
                z-index: 10;
                position: absolute;
                top: 500px;
                left: 0px;
                a{
                    .fa-brands{
                        &:hover{
                            width: $width-redes-responsive;
                            text-align: center;
                            @include transform(translateY(-10px));
                        }
                    }
                }
            }
        }

        .portafolio{
            padding: $padding-content-responsive;
            h2{
                font-size: $font-size-responsive-title;
            }

            button{
                @include customize-botton($padding-botton-secondary, $width-botton-secondary, $margin-botton-secondary);
            }

            div{
                margin-top: 10px;
                font-size: $font-size-responsive;

                article{
                    width: 250px;
                    height: 350px;

                    p{
                        width: 250px;
                    }

                    img{
                        width: $width-content;
                    }

                    div{
                        width: 100%;
                        height: 102%;
                    }
                }
            }
        }

        .certificaciones{
            padding: $padding-content-responsive;
            h1{
                font-size: $font-size-responsive-title;
                padding: 50px;
            }
    
            div{
                font-size: $font-size-responsive;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                width: 100%;
    
                img{
                    width: 80%;
                    margin: 15px 30px;
                }
    
            }
        }

        .conocimientos{
            padding: $padding-content-rwd;
            text-align: center;
            h1{
                font-size: $font-size-responsive-title;
            }

            .fa-brands, .fa-solid{
                width: 100px;
            }
        }

        .formacion{
            padding: $padding-content-rwd;

            h1{
                font-size: $font-size-responsive-title;
            }

            div{
                p{
                    width: 600px;
                    line-height: 25px;
                    font-size: $font-size-responsive;
                }
            }

            .ipn, .esime{
                margin: 10px 0px;
                width: 170px;
                height: 170px;
            }
        }
    }
}



.logo {
    width: 100px;
    height: 90px;
    background: transparent;
    @include customize-flex;
    position: fixed;
    z-index: 15;

    .uno{
        z-index: 10;
        color: $color-white;
        width: 40px;
        height: 40px;
        position: absolute;
        background-color: transparent;
        font-size: $font-size-responsive-title;
        @include customize-flex;
    }

    .dos{
        background: $color-primary;
        width: 41px;
        height: 37px;
        position: absolute;
        border: $border-logo;
    }

    .tres{
        background: $color-secondary;
        width: 51px;
        height: 22px;
        position: absolute;
        transform: rotate(66deg);
        border: $border-logo;
    }

    .cuatro{
        background: $color-tertiary;
        width: 51px;
        height: 22px;
        position: absolute;
        transform: rotate(113deg);
        border: $border-logo;
    }
}